In [86]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Extract CSVs into DataFrames

In [87]:
olympic_history = "./athlete_events.csv"
o_history_df = pd.read_csv(olympic_history)
o_history_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [88]:
noc_regions = "./noc_regions.csv"
regions_df = pd.read_csv(noc_regions)
regions_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [89]:
reg_cols = ["NOC", "region"]
reg_cat_df = regions_df[reg_cols]
reg_cat_df.head()

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

## Transform Olympic DataFrame

In [90]:
cols = ["Team","Games", "Season", "City", "Medal", "Sport", "Event"]
olympic_cat_df = o_history_df[cols]
olympic_cat_df.head()

,Team,Games,Season,City,Medal,Sport,Event
0,China,1992 Summer,Summer,Barcelona,NaN,Basketball,Basketball Men's Basketball
1,China,2012 Summer,Summer,London,NaN,Judo,Judo Men's Extra-Lightweight
2,Denmark,1920 Summer,Summer,Antwerpen,NaN,Football,Football Men's Football
3,Denmark/Sweden,1900 Summer,Summer,Paris,Gold,Tug-Of-War,Tug-Of-War Men's Tug-Of-War
4,Netherlands,1988 Winter,Winter,Calgary,NaN,Speed Skating,Speed Skating Women's 500 metres

In [91]:
olympic_cat_df.count()

Team      271116
Games     271116
Season    271116
City      271116
Medal      39783
Sport     271116
Event     271116
dtype: int64

In [92]:
no_null_olympic_cat_df = olympic_cat_df.dropna(how='any')
no_null_olympic_cat_df.head()

,Team,Games,Season,City,Medal,Sport,Event
3,Denmark/Sweden,1900 Summer,Summer,Paris,Gold,Tug-Of-War,Tug-Of-War Men's Tug-Of-War
37,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 200 metres Breaststroke
38,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 400 metres Breaststroke
40,Finland,2014 Winter,Winter,Sochi,Bronze,Ice Hockey,Ice Hockey Men's Ice Hockey
41,Finland,1948 Summer,Summer,London,Bronze,Gymnastics,Gymnastics Men's Individual All-Around

In [93]:
no_null_olympic_cat_df["Medal"].value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [94]:
new_data_df = no_null_olympic_cat_df
new_data_df.head()

,Team,Games,Season,City,Medal,Sport,Event
3,Denmark/Sweden,1900 Summer,Summer,Paris,Gold,Tug-Of-War,Tug-Of-War Men's Tug-Of-War
37,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 200 metres Breaststroke
38,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 400 metres Breaststroke
40,Finland,2014 Winter,Winter,Sochi,Bronze,Ice Hockey,Ice Hockey Men's Ice Hockey
41,Finland,1948 Summer,Summer,London,Bronze,Gymnastics,Gymnastics Men's Individual All-Around

In [95]:
new_data_df["Sport"].unique()

array(['Tug-Of-War', 'Swimming', 'Ice Hockey', 'Gymnastics',
       'Alpine Skiing', 'Handball', 'Hockey', 'Rowing', 'Football',
       'Speed Skating', 'Sailing', 'Cycling', 'Fencing', 'Taekwondo',
       'Athletics', 'Canoeing', 'Water Polo', 'Wrestling',
       'Modern Pentathlon', 'Figure Skating', 'Golf', 'Softball',
       'Boxing', 'Basketball', 'Nordic Combined', 'Diving', 'Baseball',
       'Volleyball', 'Cross Country Skiing', 'Bobsleigh', 'Curling',
       'Shooting', 'Judo', 'Equestrianism', 'Tennis', 'Rugby Sevens',
       'Rhythmic Gymnastics', 'Weightlifting', 'Badminton',
       'Beach Volleyball', 'Ski Jumping', 'Rugby',
       'Short Track Speed Skating', 'Biathlon', 'Lacrosse',
       'Synchronized Swimming', 'Archery', 'Freestyle Skiing',
       'Triathlon', 'Polo', 'Luge', 'Table Tennis', 'Snowboarding',
       'Cricket', 'Skeleton', 'Racquets', 'Military Ski Patrol',
       'Croquet', 'Art Competitions', 'Roque', 'Alpinism', 'Trampolining',
       'Basque Pelota', 'Motorboating', 'Jeu De Paume', 'Aeronautics'],
      dtype=object)

In [96]:
sports = ["Swimming", "Speed Skating"]
new_data_df.loc[new_data_df["Sport"].isin(sports)]

,Team,Games,Season,City,Medal,Sport,Event
37,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 200 metres Breaststroke
38,Finland,1920 Summer,Summer,Antwerpen,Bronze,Swimming,Swimming Men's 400 metres Breaststroke
110,Norway,1952 Winter,Winter,Oslo,Bronze,Speed Skating,"Speed Skating Men's 1,500 metres"
113,Norway,1960 Winter,Winter,Squaw Valley,Gold,Speed Skating,"Speed Skating Men's 1,500 metres"
210,Hungary,1936 Summer,Summer,Berlin,Bronze,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay
476,Canada,1984 Summer,Summer,Los Angeles,Bronze,Swimming,Swimming Women's 4 x 100 metres Medley Relay
740,South Africa,1956 Summer,Summer,Melbourne,Bronze,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
803,Soviet Union,1972 Summer,Summer,Munich,Silver,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
804,Soviet Union,1972 Summer,Summer,Munich,Bronze,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay
814,Australia,2016 Summer,Summer,Rio de Janeiro,Bronze,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
892,Great Britain,1980 Summer,Summer,Moskva,Bronze,Swimming,Swimming Men's 4 x 100 metres Medley Relay
974,Russia,2006 Winter,Winter,Torino,Bronze,Speed Skating,Speed Skating Women's Team Pursuit (6 laps)
1462,United States,1904 Summer,Summer,St. Louis,Silver,Swimming,Swimming Men's Plunge For Distance
1739,Austria,1912 Summer,Summer,Stockholm,Bronze,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
1772,Great Britain,2008 Summer,Summer,Beijing,Gold,Swimming,Swimming Women's 400 metres Freestyle
1773,Great Britain,2008 Summer,Summer,Beijing,Gold,Swimming,Swimming Women's 800 metres Freestyle
1774,Great Britain,2012 Summer,Summer,London,Bronze,Swimming,Swimming Women's 400 metres Freestyle
1775,Great Britain,2012 Summer,Summer,London,Bronze,Swimming,Swimming Women's 800 metres Freestyle
1843,United States,2008 Summer,Summer,Beijing,Gold,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
1844,United States,2012 Summer,Summer,London,Gold,Swimming,Swimming Men's 100 metres Freestyle
1845,United States,2012 Summer,Summer,London,Silver,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
1846,United States,2012 Summer,Summer,London,Gold,Swimming,Swimming Men's 4 x 100 metres Medley Relay
1847,United States,2016 Summer,Summer,Rio de Janeiro,Bronze,Swimming,Swimming Men's 50 metres Freestyle
1848,United States,2016 Summer,Summer,Rio de Janeiro,Bronze,Swimming,Swimming Men's 100 metres Freestyle
1849,United States,2016 Summer,Summer,Rio de Janeiro,Gold,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
1850,United States,2016 Summer,Summer,Rio de Janeiro,Gold,Swimming,Swimming Men's 4 x 100 metres Medley Relay
2110,France,2012 Summer,Summer,London,Gold,Swimming,Swimming Men's 200 metres Freestyle
2111,France,2012 Summer,Summer,London,Gold,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
2112,France,2012 Summer,Summer,London,Silver,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay
2466,United States,1992 Summer,Summer,Barcelona,Gold,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
...,...,...,...,...,...,...,...
268850,China,2008 Summer,Summer,Beijing,Silver,Swimming,Swimming Men's 400 metres Freestyle
269093,China,2008 Summer,Summer,Beijing,Bronze,Swimming,Swimming Women's 4 x 100 metres Medley Relay
269101,China,1992 Summer,Summer,Barcelona,Silver,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
269225,Soviet Union,1988 Winter,Winter,Calgary,Bronze,Speed Skating,"Speed Skating Men's 1,000 metres"
269231,Belarus,1994 Winter,Winter,Lillehammer,Silver,Speed Skating,"Speed Skating Men's 1,000 metres"
269330,Unified Team,1992 Summer,Summer,Barcelona,Bronze,Swimming,Swimming Women's 4 x 100 metres Medley Relay
269334,Spain,2000 Summer,Summer,Sydney,Bronze,Swimming,Swimming Women's 100 metres Backstroke
269442,China,2008 Summer,Summer,Beijing,Bronze,Swimming,Swimming Women's 4 x 100 metres Medley Relay
269496,China,2008 Summer,Summer,Beijing,Silver,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay
269524,China,2004 Summer,Summer,Athina,Silver,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay
269542,China,1988 Summer,Summer,Seoul,Silver,Swimming,Swimming Women's 100 metres Freestyle
269546,China,1992 Summer,Summer,Barcelona,Silver,Swimming,Swimming Women's 50 metres Freestyle
269547,China,1992 Summer,Summer,Barcelona,Gold,Swimming,Swimming Women's 100 metres Freestyle
269549,China,1992 Summer,Summer,Barcelona,Silver,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
269775,Germany,1992 Summer,Summer,Barcelona,Bronze,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
269778,Germany,1996 Summer,Summer,Atlanta,Bronze,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
269783,Germany,1996 Summer,Summer,Atlanta,Bronze,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
269854,United States,1948 Summer,Summer,London,Silver,Swimming,Swimming Women's 100 metres Backstroke
269888,East Germany,1988 Summer,Summer,Seoul,Silver,Swimming,Swimming Women's 200 metres Backstroke
269944,West Germany,1984 Summer,Summer,Los Angeles,Bronze,Swimming,Swimming Women's 400 metres Individual Medley
269989,Germany,1992 Winter,Winter,Albertville,Gold,Speed Skating,"Speed Skating Men's 1,000 metres"
270174,Poland,2010 Winter,Winter,Vancouver,Bronze,Speed Skating,Speed Skating Women's Team Pursuit (6 laps)
270178,Poland,2014 Winter,Winter,Sochi,Silver,Speed Skating,Speed Skating Women's Team Pursuit (6 laps)
270394,United States,1968 Summer,Summer,Mexico City,Gold,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay
270403,Argentina,1928 Summer,Summer,Amsterdam,Gold,Swimming,Swimming Men's 400 metres Freestyle
270530,West Germany,1984 Summer,Summer,Los Angeles,Bronze,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay
270732,Netherlands,2000 Summer,Summer,Sydney,Bronze,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay
270773,Soviet Union,1980 Summer,Summer,Moskva,Gold,Swimming,Swimming Men's 200 metres Breaststroke
270939,Russia,2012 Summer,Summer,London,Silver,Swimming,Swimming Women's 200 metres Backstroke
271013,Netherlands,2004 Summer,Summer,Athina,Silver,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay

## Create Database Connection

In [97]:
conn_string = "mysql://root:CANCER#72@localhost:3306/olympic_db"
engine = create_engine(conn_string)

## Check for tables

In [98]:
engine.table_names()

['team']

In [99]:
new_data_df.to_sql(name="team", con=engine, if_exists='append', index=False)

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'event' at row 132") [SQL: 'INSERT INTO team (`Team`, `Games`, `Season`, `City`, `Medal`, `Sport`, `Event`) VALUES (%(Team)s, %(Games)s, %(Season)s, %(City)s, %(Medal)s, %(Sport)s, %(Event)s)'] [parameters: ({'Team': 'Denmark/Sweden', 'Games': '1900 Summer', 'Season': 'Summer', 'City': 'Paris', 'Medal': 'Gold', 'Sport': 'Tug-Of-War', 'Event': "Tug-Of-War Men's Tug-Of-War"}, {'Team': 'Finland', 'Games': '1920 Summer', 'Season': 'Summer', 'City': 'Antwerpen', 'Medal': 'Bronze', 'Sport': 'Swimming', 'Event': "Swimming Men's 200 metres Breaststroke"}, {'Team': 'Finland', 'Games': '1920 Summer', 'Season': 'Summer', 'City': 'Antwerpen', 'Medal': 'Bronze', 'Sport': 'Swimming', 'Event': "Swimming Men's 400 metres Breaststroke"}, {'Team': 'Finland', 'Games': '2014 Winter', 'Season': 'Winter', 'City': 'Sochi', 'Medal': 'Bronze', 'Sport': 'Ice Hockey', 'Event': "Ice Hockey Men's Ice Hockey"}, {'Team': 'Finland', 'Games': '1948 Summer', 'Season': 'Summer', 'City': 'London', 'Medal': 'Bronze', 'Sport': 'Gymnastics', 'Event': "Gymnastics Men's Individual All-Around"}, {'Team': 'Finland', 'Games': '1948 Summer', 'Season': 'Summer', 'City': 'London', 'Medal': 'Gold', 'Sport': 'Gymnastics', 'Event': "Gymnastics Men's Team All-Around"}, {'Team': 'Finland', 'Games': '1948 Summer', 'Season': 'Summer', 'City': 'London', 'Medal': 'Gold', 'Sport': 'Gymnastics', 'Event': "Gymnastics Men's Horse Vault"}, {'Team': 'Finland', 'Games': '1948 Summer', 'Season': 'Summer', 'City': 'London', 'Medal': 'Gold', 'Sport': 'Gymnastics', 'Event': "Gymnastics Men's Pommelled Horse"}  ... displaying 10 of 39783 total bound parameter sets ...  {'Team': 'Russia', 'Games': '2000 Summer', 'Season': 'Summer', 'City': 'Sydney', 'Medal': 'Bronze', 'Sport': 'Athletics', 'Event': "Athletics Women's 4 x 400 metres Relay"}, {'Team': 'Russia', 'Games': '2004 Summer', 'Season': 'Summer', 'City': 'Athina', 'Medal': 'Silver', 'Sport': 'Athletics', 'Event': "Athletics Women's 4 x 400 metres Relay"})] (Background on this error at: http://sqlalche.me/e/9h9h)